# CMake build directory
/build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Visual Studio Code settings
.vscode/
.vscode/settings.json

# Compiled binary files
*.o
*.obj
*.exe
*.out
*.app

# Libraries
#/lib/

# Logs and databases
*.log
*.sql
*.sqlite

# Other ignored files
*.DS_Store
*.pyc
*.pyo
*.class
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml

# Ignore compiled shaders
assets/shaders/*.spv

# Ignore font cache
assets/fonts/*.ttf.cache
